target/
.idea
.env
certificate/
.vscode
.git
.github
.gitignore
.gitmodules
node_modules
.vite
.docusaurus
build
dist
_chainspecs/kusama
_chainspecs/paseo
_chainspecs/polkadot
_chainspecs/westend
_readme_files/
_scripts/