openapi: 3.1.0
info:
  title: Submerge Crystal API v1
  description: |-
    REST API for Submerge Crystal, the core indexer component of Submerge.

    Submerge API endpoints are grouped under five resource sets:
    - Blocks
    - Calls
    - Events
    - Extrinsics
    - Genesis
    - Metadata
    - Traces

    Public API is limited by 5 requests per second.
    Request query parameters use `snake_case`; response fields use `camelCase`.
  contact:
    name: Helikon Labs
    url: https://submerge.io
    email: info@helikon.io
  license:
    name: GPLv3
    url: https://www.gnu.org/licenses/gpl-3.0.html
  version: 1.0.0
servers:
- url: https://coretime-polkadot.crystal.submerge.io/api/v1
  description: API preview deployment for Polkadot Coretime.
- url: https://{chain}.crystal.submerge.io/api/v1
  description: Submerge Crystal production API per deployed chain.
  variables:
    chain:
      default: coretime-polkadot
      description: Chain subdomain
      enum:
      - polkadot
      - asset-hub-polkadot
      - bridge-hub-polkadot
      - collectives-polkadot
      - coretime-polkadot
      - people-polkadot
      - kusama
      - asset-hub-kusama
      - bridge-hub-kusama
      - coretime-kusama
      - people-kusama
paths:
  /blocks:
    get:
      tags:
      - block
      summary: Get blocks
      description: Returns all blocks from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number.
      operationId: get_blocks
      parameters:
      - name: pagination
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/PaginationQuery'
      - name: status
        in: query
        description: Filter results by block status
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: min_block_number
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
      - name: max_block_number
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
      - name: min_block_timestamp
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
      - name: max_block_timestamp
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
      - name: min_spec_version
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: max_spec_version
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: author
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: Paginated list of blocks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResponse_BlockDTO'
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorBody'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorBody'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorBody'
components:
  schemas:
    APIErrorBody:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    AccountId:
      type: array
      items:
        type: integer
        format: int32
        minimum: 0
    BlockDTO:
      type: object
      title: Block
      description: A block in the blockchain
      required:
      - hash
      - parentHash
      - stateRoot
      - extrinsicRoot
      - number
      - specVersion
      - status
      - extrinsicCount
      - eventCount
      properties:
        author:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MultiAddress'
        eventCount:
          type: integer
          format: int32
          minimum: 0
        extrinsicCount:
          type: integer
          format: int32
          minimum: 0
        extrinsicRoot:
          type: string
        hash:
          type: string
        number:
          type: integer
          format: int64
          minimum: 0
        parentHash:
          type: string
        specVersion:
          type: integer
          format: int32
          minimum: 0
        stateRoot:
          type: string
        status:
          $ref: '#/components/schemas/BlockStatus'
        timestamp:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
        weight:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Value'
      example:
        eventCount:
          $serde_json::private::Number: '56'
        extrinsicCount:
          $serde_json::private::Number: '2'
        hash: 0xc82fe0d5752d42ae3d325f14206859f86cec7447f244d5b4bccfc2a00bd58df8
        number:
          $serde_json::private::Number: '27419831'
        parentHash: 0x1615581259dd1ac45fea1b23406367ca79c9f6dfa3b3b1115517c6e86250c42b
        specVersion:
          $serde_json::private::Number: '1006001'
        status: finalized
        timestamp: '1755773684012'
    BlockStatus:
      type: string
      enum:
      - proposed
      - pruned
      - finalized
    MultiAddress:
      oneOf:
      - type: object
        required:
        - value
        - type
        properties:
          type:
            type: string
            enum:
            - accountId
          value:
            $ref: '#/components/schemas/AccountId'
      - type: object
        required:
        - value
        - type
        properties:
          type:
            type: string
            enum:
            - index
          value:
            type: integer
            format: int32
            minimum: 0
      - type: object
        required:
        - value
        - type
        properties:
          type:
            type: string
            enum:
            - raw
          value:
            type: array
            items:
              type: integer
              format: int32
              minimum: 0
      - type: object
        required:
        - value
        - type
        properties:
          type:
            type: string
            enum:
            - address32
          value:
            type: array
            items:
              type: integer
              format: int32
              minimum: 0
      - type: object
        required:
        - value
        - type
        properties:
          type:
            type: string
            enum:
            - address20
          value:
            type: array
            items:
              type: integer
              format: int32
              minimum: 0
    PagedResponse_BlockDTO:
      type: object
      required:
      - pagination
      - data
      properties:
        data:
          type: array
          items:
            type: object
            title: Block
            description: A block in the blockchain
            required:
            - hash
            - parentHash
            - stateRoot
            - extrinsicRoot
            - number
            - specVersion
            - status
            - extrinsicCount
            - eventCount
            properties:
              author:
                oneOf:
                - type: 'null'
                - $ref: '#/components/schemas/MultiAddress'
              eventCount:
                type: integer
                format: int32
                minimum: 0
              extrinsicCount:
                type: integer
                format: int32
                minimum: 0
              extrinsicRoot:
                type: string
              hash:
                type: string
              number:
                type: integer
                format: int64
                minimum: 0
              parentHash:
                type: string
              specVersion:
                type: integer
                format: int32
                minimum: 0
              stateRoot:
                type: string
              status:
                $ref: '#/components/schemas/BlockStatus'
              timestamp:
                type:
                - integer
                - 'null'
                format: int64
                minimum: 0
              weight:
                oneOf:
                - type: 'null'
                - $ref: '#/components/schemas/Value'
            example:
              eventCount:
                $serde_json::private::Number: '56'
              extrinsicCount:
                $serde_json::private::Number: '2'
              hash: 0xc82fe0d5752d42ae3d325f14206859f86cec7447f244d5b4bccfc2a00bd58df8
              number:
                $serde_json::private::Number: '27419831'
              parentHash: 0x1615581259dd1ac45fea1b23406367ca79c9f6dfa3b3b1115517c6e86250c42b
              specVersion:
                $serde_json::private::Number: '1006001'
              status: finalized
              timestamp: '1755773684012'
        pagination:
          $ref: '#/components/schemas/PaginationData'
    PaginationData:
      type: object
      required:
      - page
      - pageSize
      - total
      properties:
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          minimum: 0
        total:
          type: integer
          format: int64
          minimum: 0
    PaginationQuery:
      type: object
      properties:
        page:
          type:
          - string
          - 'null'
        page_size:
          type:
          - string
          - 'null'
    Value: {}
tags:
- name: block
  description: Endpoints related to blocks.
- name: call
  description: Endpoints related to calls in extrinsics.
- name: event
  description: Endpoints related to events.
- name: extrinsic
  description: Endpoints related to extrinsics.
- name: genesis
  description: Endpoints related to genesis records.
- name: metadata
  description: Endpoints related to metadata.
- name: trace
  description: Endpoints related to block traces.
