{
  "openapi": "3.1.0",
  "info": {
    "title": "Submerge Crystal API v1",
    "description": "REST API for Submerge Crystal, the core indexer component of Submerge.\n\nSubmerge API endpoints are grouped under five resource sets:\n- Blocks\n- Calls\n- Events\n- Extrinsics\n- Genesis\n- Metadata\n- Traces\n\nPublic API is limited by 5 requests per second.\nRequest query parameters use `snake_case`; response fields use `camelCase`.",
    "contact": {
      "name": "Helikon Labs",
      "url": "https://submerge.io",
      "email": "info@helikon.io"
    },
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://coretime-polkadot.crystal.submerge.io/api/v1",
      "description": "API preview deployment for Polkadot Coretime."
    },
    {
      "url": "https://{chain}.crystal.submerge.io/api/v1",
      "description": "Submerge Crystal production API per deployed chain.",
      "variables": {
        "chain": {
          "default": "coretime-polkadot",
          "description": "Chain subdomain",
          "enum": [
            "polkadot",
            "asset-hub-polkadot",
            "bridge-hub-polkadot",
            "collectives-polkadot",
            "coretime-polkadot",
            "people-polkadot",
            "kusama",
            "asset-hub-kusama",
            "bridge-hub-kusama",
            "coretime-kusama",
            "people-kusama"
          ]
        }
      }
    }
  ],
  "paths": {
    "/blocks": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get blocks",
        "description": "Returns all blocks from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number.",
        "operationId": "get_blocks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Block list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of blocks per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter results by block status. If not specified, all blocks are returned.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/BlockStatus"
            }
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter blocks by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter blocks by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter blocks by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter blocks by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter blocks by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter blocks by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "author",
            "in": "query",
            "description": "Filter results by block author. Either of the following:\n- Author's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Author's Substrate account id encoded as a hexadecimal string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Author's address encoded as a hexadecimal string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9A-HJ-NP-Za-km-z]{47,48}|(?:0x)?[0-9a-fA-F]{1-256})$"
            },
            "example": "5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedBlockList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get blocks by reference",
        "description": "If a hash is passed, returns the matching block. If a number is passed, gives the blocks by that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_blocks_by_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BlockList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block calls",
        "description": "If a hash is passed, returns the calls for the matching block. If a number is passed, gives the calls for the blocks with that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_calls_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the calls. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the block calls in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get block events",
        "description": "If a hash is passed, returns the events for the matching block. If a number is passed, gives the events for the block with that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_events_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the events. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the block events in the response.\nDefault is `false`. Setting this to `true` increases response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/events/{event_index}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get block events by index",
        "description": "Returns the events in the given block at the given index. It can return multiple events if a number is passed and there's a pruned block in that slot.",
        "operationId": "get_events_by_block_reference_and_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the event(s). Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "event_index",
            "in": "path",
            "description": "0-based index for the event(s) in the block(s).",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the event(s) in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsics",
        "description": "If a hash is passed, returns the extrinsics for the matching block. If a number is passed, gives the extrinsis for the block by that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_extrinsics_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsics. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            },
            "example": "13453264"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "is_signed",
            "in": "query",
            "description": "Whether to include only signed/unsigned extrinsics within the block.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "signer",
            "in": "query",
            "description": "Filter block extrinsics by signer. Either of the following:\n- Signer's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Signer's Substrate account id encoded as a hexadecimal string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Signer's address encoded as a hexadecimal string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get block extrinsics by index",
        "description": "Returns the extrinsics in the given block at the given index. It can return multiple extrinsics if a number is passed and there's a pruned block in that slot.",
        "operationId": "get_extrinsics_by_block_reference_and_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsic calls",
        "description": "Returns the calls for extrinsic in a block by block reference and 0-based extrinsic index.",
        "operationId": "get_calls_by_block_reference_and_extrinsic_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the block calls in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}/events": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsic events",
        "description": "Returns the events for extrinsic in a block by block reference and 0-based extrinsic index.",
        "operationId": "get_events_by_block_reference_and_extrinsic_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the block events in the response.\nDefault is `false`. Setting this to `true` increases response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/traces": {
      "get": {
        "tags": [
          "trace"
        ],
        "summary": "Get block traces",
        "description": "If a hash is passed, returns the traces for the matching block. If a number is passed, returns the traces for the blocks with that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_traces_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the traces. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block traces list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of traces traces in block per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedTraceList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get calls",
        "description": "Returns all calls from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number, then call id.",
        "operationId": "get_calls",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter calls by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter calls by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter calls by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter calls by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter calls by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter calls by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter calls by pallet name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "call_name",
            "in": "query",
            "description": "Filter calls by call name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the calls in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call by hash",
        "description": "Returns the call by its hash.",
        "operationId": "get_call_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the call(s) in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/args": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call arguments",
        "description": "Returns the arguments of a runtime call by its hash.",
        "operationId": "get_call_args_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arguments for the runtime call with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallArgs"
                },
                "example": {
                  "args": {
                    "dest": {
                      "type": "Id",
                      "value": "0xc35b9a45aadc8bb998ba7c4d17bda4d7d8e31f90a754a65709d3a3a71ff8fa7a"
                    },
                    "value": "117284000000"
                  },
                  "hash": "0xb778a81c1fd06d98b5ba1b37bb274101f7905ad5eca960f56ededf26248c4011"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/extrinsic": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call extrinsic",
        "description": "Returns the extrinsic of a call by call hash.",
        "operationId": "get_call_extrinsic_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Hash of the extrinsic call in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The extrinsic that contains the call.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extrinsic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/parent": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get parent call",
        "description": "Returns a parent call by the sub call's hash.",
        "operationId": "get_parent_call_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Sub call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the call(s) in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent call for the given sub call hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/subs": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get sub calls",
        "description": "Returns sub calls call by a parent call's hash.",
        "operationId": "get_sub_calls_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Parent call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the block calls in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get events",
        "description": "Returns all events from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number and ascending event index.",
        "operationId": "get_events",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Events list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter events by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter events by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter events by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter events by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter events by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter events by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events by pallet name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "balances"
          },
          {
            "name": "event_name",
            "in": "query",
            "description": "Filter events by event name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "transfer"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the events in the response.\nDefault is `false`. Setting this to `true` increases response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per event instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events/{event_hash}": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get event by hash",
        "description": "Returns the event by its hash.",
        "operationId": "get_event_by_hash",
        "parameters": [
          {
            "name": "event_hash",
            "in": "path",
            "description": "Event hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the event(s) in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events/{event_hash}/args": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get event arguments",
        "description": "Returns the arguments of a runtime call by its hash.",
        "operationId": "get_event_args_by_hash",
        "parameters": [
          {
            "name": "event_hash",
            "in": "path",
            "description": "Event hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arguments for the runtime event with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventArgs"
                },
                "example": {
                  "args": {
                    "amount": "171162271",
                    "from": "0x96b4be4ad947987922c88449866e738b4f4d09dece5157d2c3ac9477d8c6512e",
                    "to": "0x967cccc1ff3d1f37b9e6c8a39d8ba72ad85d35e19cc0717a72f1a21037606144"
                  },
                  "hash": "0x2c923bb54d06dfb649aaaf1c198eb1af9e19ec52b8e90267984496c128ee7adc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics": {
      "get": {
        "tags": [
          "extrinsic"
        ],
        "summary": "Get extrinsics",
        "description": "Returns all extrinsics from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number and ascending extrinsic index.",
        "operationId": "get_extrinsics",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Extrinsic list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of extrinsics per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter extrinsics by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter extrinsics by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter extrinsics by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter extrinsics by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter extrinsics by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter extrinsics by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "is_signed",
            "in": "query",
            "description": "Whether to include only signed/unsigned extrinsics.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "signer",
            "in": "query",
            "description": "Filter extrinsics by signer. Either of the following:\n- Signer's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Signer's Substrate account id encoded as a hexadecimal string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Signer's address encoded as a hexadecimal string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9A-HJ-NP-Za-km-z]{47,48}|(?:0x)?[0-9a-fA-F]{1-256})$"
            },
            "example": "5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}": {
      "get": {
        "tags": [
          "extrinsic"
        ],
        "summary": "Get extrinsic by hash",
        "description": "Returns the extrinsic by its hash.",
        "operationId": "get_extrinsic_by_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extrinsic with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extrinsic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/call": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get extrinsic root call",
        "description": "Returns the root call of an extrinsic by its hash.",
        "operationId": "get_extrinsic_root_call_by_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the call(s) in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The root call of the extrinsic.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get extrinsic calls",
        "description": "Returns the calls in an extrinsic by extrinsic hash.",
        "operationId": "get_calls_by_extrinsic_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:0x)?[0-9a-fA-F]{64}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include call arguments in the block calls in the response.\nDefault is `false`. Setting this to `true` increases the response size considerably.\nPrefer to use the `GET /call/{call_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get extrinsic events",
        "description": "Returns the events in an extrinsic by extrinsic hash.",
        "operationId": "get_events_by_extrinsic_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:0x)?[0-9a-fA-F]{64}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          },
          {
            "name": "include_args",
            "in": "query",
            "description": "Whether to include event arguments in the block events in the response.\nDefault is `false`. Setting this to `true` increases response size considerably.\nPrefer to use the `GET /event/{event_hash}/args` endpoint per call instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/genesis": {
      "get": {
        "tags": [
          "genesis"
        ],
        "summary": "Get genesis records",
        "description": "Returns a paginated list of all genesis storage records.",
        "operationId": "get_genesis_records",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Genesis record list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of genesis records per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedGenesisRecordList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata list",
        "description": "Returns a list of metadata summaries for all runtime versions.",
        "operationId": "get_metadata_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedMetadataList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata by spec version",
        "description": "Returns the metadata by its spec version.",
        "operationId": "get_metadata",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          }
        ],
        "responses": {
          "200": {
            "description": "Full metadata with the given spec version.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/hex": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata hex",
        "description": "Returns the SCALE-encoded hexadecimal string for the prefixed metadata.",
        "operationId": "get_metadata_hex",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          }
        ],
        "responses": {
          "200": {
            "description": "SCALE-encoded prefixed metadata hexadecimal string.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HexString"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/json": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata JSON",
        "description": "Returns the original Substrate runtime metadata by its spec version in JSON representation.",
        "operationId": "get_metadata_json",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          }
        ],
        "responses": {
          "200": {
            "description": "Full metadata with the given spec version.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataJSON"
                },
                "example": [
                  1635018093,
                  {
                    "V14": {
                      "extrinsic": {
                        "signed_extensions": [
                          {
                            "additional_signed": 122,
                            "identifier": "CheckNonZeroSender",
                            "ty": 385
                          },
                          {
                            "additional_signed": 4,
                            "identifier": "CheckSpecVersion",
                            "ty": 386
                          },
                          {
                            "additional_signed": 4,
                            "identifier": "CheckTxVersion",
                            "ty": 387
                          },
                          {
                            "additional_signed": 13,
                            "identifier": "CheckGenesis",
                            "ty": 388
                          },
                          {
                            "additional_signed": 13,
                            "identifier": "CheckMortality",
                            "ty": 389
                          },
                          {
                            "additional_signed": 122,
                            "identifier": "CheckNonce",
                            "ty": 391
                          },
                          {
                            "additional_signed": 122,
                            "identifier": "CheckWeight",
                            "ty": 392
                          },
                          {
                            "additional_signed": 122,
                            "identifier": "ChargeTransactionPayment",
                            "ty": 393
                          },
                          {
                            "additional_signed": 32,
                            "identifier": "CheckMetadataHash",
                            "ty": 394
                          }
                        ],
                        "ty": 380,
                        "version": 4
                      },
                      "pallets": [],
                      "ty": 396,
                      "types": []
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallets",
        "description": "Returns pallets in a metadata version.",
        "operationId": "get_metadata_pallets",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletSummaryList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet",
        "description": "Returns the full metadata pallet by metadata spec version and pallet index.",
        "operationId": "get_metadata_pallet",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 2000000
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Full metadata pallet with the given spec version and pallet index.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPallet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}/calls": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet calls",
        "description": "Returns the calls in a pallet in a metadata version.",
        "operationId": "get_metadata_pallet_calls",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}/constants": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet constants",
        "description": "Returns the constants in a pallet in a metadata version.",
        "operationId": "get_metadata_pallet_constants",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletConstantList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}/errors": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet errors",
        "description": "Returns the errors in a pallet in a metadata version.",
        "operationId": "get_metadata_pallet_errors",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletErrorList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}/events": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet events",
        "description": "Returns the events in a pallet in a metadata version.",
        "operationId": "get_metadata_pallet_events",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/metadata/{spec_version}/pallets/{pallet_index}/storage": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata pallet storage items",
        "description": "Returns the storage items in a pallet in a metadata version.",
        "operationId": "get_metadata_pallet_storage_items",
        "parameters": [
          {
            "name": "spec_version",
            "in": "path",
            "description": "Metadata spec version.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1003
          },
          {
            "name": "pallet_index",
            "in": "path",
            "description": "Metadata pallet index.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MetadataPalletStorageItemList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/traces": {
      "get": {
        "tags": [
          "trace"
        ],
        "summary": "Get traces",
        "description": "Returns all traces from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number, then ascending trace index.",
        "operationId": "get_traces",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Trace list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of traces per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter traces by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter traces by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter traces by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter traces by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter traces by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter traces by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "key_prefix",
            "in": "query",
            "description": "Filter traces by Substrate storage key prefix.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HexStringParam"
            }
          },
          {
            "name": "key_params",
            "in": "query",
            "description": "Filter traces by Substrate storage key parameters.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HexStringParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedTraceList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/traces/{trace_hash}": {
      "get": {
        "tags": [
          "trace"
        ],
        "summary": "Get trace by hash",
        "description": "Returns the trace by its hash.",
        "operationId": "get_trace_by_hash",
        "parameters": [
          {
            "name": "trace_hash",
            "in": "path",
            "description": "Trace hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/traces/{trace_hash}/value": {
      "get": {
        "tags": [
          "trace"
        ],
        "summary": "Get trace value",
        "description": "Returns the value of a trace record by its hash.",
        "operationId": "get_trace_value_by_hash",
        "parameters": [
          {
            "name": "trace_hash",
            "in": "path",
            "description": "Trace hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
[...]
