{
  "openapi": "3.1.0",
  "info": {
    "title": "Submerge Crystal API v1",
    "description": "REST API for Submerge Crystal, the core indexer component of Submerge.\n\nSubmerge API endpoints are grouped under five resource sets:\n- Blocks\n- Calls\n- Events\n- Extrinsics\n- Genesis\n- Metadata\n- Traces\n\nPublic API is limited by 5 requests per second.\nRequest query parameters use `snake_case`; response fields use `camelCase`.",
    "contact": {
      "name": "Helikon Labs",
      "url": "https://submerge.io",
      "email": "info@helikon.io"
    },
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://coretime-polkadot.crystal.submerge.io/api/v1",
      "description": "API preview deployment for Polkadot Coretime."
    },
    {
      "url": "https://{chain}.crystal.submerge.io/api/v1",
      "description": "Submerge Crystal production API per deployed chain.",
      "variables": {
        "chain": {
          "default": "coretime-polkadot",
          "description": "Chain subdomain",
          "enum": [
            "polkadot",
            "asset-hub-polkadot",
            "bridge-hub-polkadot",
            "collectives-polkadot",
            "coretime-polkadot",
            "people-polkadot",
            "kusama",
            "asset-hub-kusama",
            "bridge-hub-kusama",
            "coretime-kusama",
            "people-kusama"
          ]
        }
      }
    }
  ],
  "paths": {
    "/blocks": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get blocks",
        "description": "Returns all blocks from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number.",
        "operationId": "get_blocks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Block list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of blocks per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter results by block status. If not specified, all blocks are returned.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/BlockStatus"
            }
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter blocks by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter blocks by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter blocks by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter blocks by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter blocks by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter blocks by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "author",
            "in": "query",
            "description": "Filter results by block author. Either of the following:\n- Author's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Author's Substrate account id encoded as a hex string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Author's address encoded as a hex string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9A-HJ-NP-Za-km-z]{47,48}|(?:0x)?[0-9a-fA-F]{1-256})$"
            },
            "example": "5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedBlockList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get blocks by reference",
        "description": "If a hash is passed, returns the matching block. If a number is passed, gives the blocks by that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_blocks_by_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BlockList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block calls",
        "description": "If a hash is passed, returns the calls for the matching block. If a number is passed, gives the calls for the blocks with that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_calls_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the calls. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get block events",
        "description": "If a hash is passed, returns the events for the matching block. If a number is passed, gives the events for the block with that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_events_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the events. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/events/{event_index}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get block events by index",
        "description": "Returns the events in the given block at the given index. It can return multiple events if a number is passed and there's a pruned block in that slot.",
        "operationId": "get_events_by_block_reference_and_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the event(s). Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "event_index",
            "in": "path",
            "description": "0-based index for the event(s) in the block(s).",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsics",
        "description": "If a hash is passed, returns the extrinsics for the matching block. If a number is passed, gives the extrinsis for the block by that number - could be multiple blocks if there's a pruned block in that slot.",
        "operationId": "get_extrinsics_by_block_reference",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsics. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            },
            "example": "13453264"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "is_signed",
            "in": "query",
            "description": "Whether to include only signed/unsigned extrinsics within the block.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "signer",
            "in": "query",
            "description": "Filter block extrinsics by signer. Either of the following:\n- Signer's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Signer's Substrate account id encoded as a hex string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Signer's address encoded as a hex string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}": {
      "get": {
        "tags": [
          "block"
        ],
        "summary": "Get block extrinsics by index",
        "description": "Returns the extrinsics in the given block at the given index. It can return multiple extrinsics if a number is passed and there's a pruned block in that slot.",
        "operationId": "get_extrinsics_by_block_reference_and_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsic calls",
        "description": "Returns the calls for extrinsic in a block by block reference and 0-based extrinsic index.",
        "operationId": "get_calls_by_block_reference_and_extrinsic_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blocks/{block_ref}/extrinsics/{extrinsic_index}/events": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get block extrinsic events",
        "description": "Returns the events for extrinsic in a block by block reference and 0-based extrinsic index.",
        "operationId": "get_events_by_block_reference_and_extrinsic_index",
        "parameters": [
          {
            "name": "block_ref",
            "in": "path",
            "description": "Block reference for the extrinsic. Either a block number (integer ≥ 0), or a block hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "extrinsic_index",
            "in": "path",
            "description": "0-based index for the extrinsic in the block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get calls",
        "description": "Returns all calls from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number, then call id.",
        "operationId": "get_calls",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter calls by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter calls by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter calls by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter calls by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter calls by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter calls by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter calls by pallet name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter calls by call name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call by hash",
        "description": "Returns the call by its hash.",
        "operationId": "get_call_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/args": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call arguments",
        "description": "Returns the arguments of a runtime call by its hash.",
        "operationId": "get_call_args_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arguments for the runtime call with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallArgs"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/extrinsic": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get call extrinsic",
        "description": "Returns the extrinsic of a call by call hash.",
        "operationId": "get_call_extrinsic_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Hash of the extrinsic call in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The extrinsic that contains the call.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extrinsic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/parent": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get parent call",
        "description": "Returns a parent call by the sub call's hash.",
        "operationId": "get_parent_call_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Sub call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent call for the given sub call hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/calls/{call_hash}/subs": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get sub calls",
        "description": "Returns sub calls call by a parent call's hash.",
        "operationId": "get_sub_calls_by_hash",
        "parameters": [
          {
            "name": "call_hash",
            "in": "path",
            "description": "Parent call hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get events",
        "description": "Returns all events from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number and ascending event index.",
        "operationId": "get_events",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Events list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter events by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter events by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter events by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter events by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter events by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter events by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events by pallet name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "balances"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter events by event name. Case insensitive. Stored in `camelCase`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "transfer"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events/{event_hash}": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get event by hash",
        "description": "Returns the event by its hash.",
        "operationId": "get_event_by_hash",
        "parameters": [
          {
            "name": "event_hash",
            "in": "path",
            "description": "Event hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events/{event_hash}/args": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get event arguments",
        "description": "Returns the arguments of a runtime call by its hash.",
        "operationId": "get_event_args_by_hash",
        "parameters": [
          {
            "name": "event_hash",
            "in": "path",
            "description": "Event hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arguments for the runtime event with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventArgs"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics": {
      "get": {
        "tags": [
          "extrinsic"
        ],
        "summary": "Get extrinsics",
        "description": "Returns all extrinsics from the database that satisfy the query parameters. It will return a paginated response, ordered descending by block number and ascending extrinsic index.",
        "operationId": "get_extrinsics",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Extrinsic list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of extrinsics per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "min_block_number",
            "in": "query",
            "description": "Filter extrinsics by minimum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1534287
          },
          {
            "name": "max_block_number",
            "in": "query",
            "description": "Filter extrinsics by maximum block number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 2825701
          },
          {
            "name": "min_block_timestamp",
            "in": "query",
            "description": "Filter extrinsics by minimum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "max_block_timestamp",
            "in": "query",
            "description": "Filter extrinsics by maximum block timestamp. In milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 1755773684012
          },
          {
            "name": "min_spec_version",
            "in": "query",
            "description": "Filter extrinsics by minimum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "max_spec_version",
            "in": "query",
            "description": "Filter extrinsics by maximum runtime spec version.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 1090
          },
          {
            "name": "is_signed",
            "in": "query",
            "description": "Whether to include only signed/unsigned extrinsics.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "signer",
            "in": "query",
            "description": "Filter extrinsics by signer. Either of the following:\n- Signer's Substrate SS58 address string (e.g. `5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY`).\n- Signer's Substrate account id encoded as a hex string (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).\n- Signer's address encoded as a hex string with optional `0x` prefix (e.g. `0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a`).",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9A-HJ-NP-Za-km-z]{47,48}|(?:0x)?[0-9a-fA-F]{1-256})$"
            },
            "example": "5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedExtrinsicList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}": {
      "get": {
        "tags": [
          "extrinsic"
        ],
        "summary": "Get extrinsic by hash",
        "description": "Returns the extrinsic by its hash.",
        "operationId": "get_extrinsic_by_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extrinsic with the given hash.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extrinsic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/call": {
      "get": {
        "tags": [
          "extrinsic"
        ],
        "summary": "Get extrinsic root call",
        "description": "Returns the root call of an extrinsic by its hash.",
        "operationId": "get_extrinsic_root_call_by_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\d+|(0x)?[a-f0-9A-F]{64})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The root call of the extrinsic.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/calls": {
      "get": {
        "tags": [
          "call"
        ],
        "summary": "Get extrinsic calls",
        "description": "Returns the calls in an extrinsic by extrinsic hash.",
        "operationId": "get_calls_by_extrinsic_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:0x)?[0-9a-fA-F]{64}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block call list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block calls per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter blocks calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "system"
          },
          {
            "name": "pallet_call_name",
            "in": "query",
            "description": "Filter blocks calls by call name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "setcode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedCallList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extrinsics/{extrinsic_hash}/events": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Get extrinsic events",
        "description": "Returns the events in an extrinsic by extrinsic hash.",
        "operationId": "get_events_by_extrinsic_hash",
        "parameters": [
          {
            "name": "extrinsic_hash",
            "in": "path",
            "description": "Extrinsic hash in hex (with or without `0x` prefix, case-insensitive).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:0x)?[0-9a-fA-F]{64}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Block event list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of block events per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          },
          {
            "name": "pallet_name",
            "in": "query",
            "description": "Filter events calls by pallet name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "staking"
          },
          {
            "name": "pallet_event_name",
            "in": "query",
            "description": "Filter blocks events by event name. Case insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bonded"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedEventList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/genesis": {
      "get": {
        "tags": [
          "genesis"
        ],
        "summary": "Get genesis records",
        "description": "Returns a paginated list of all genesis storage records.",
        "operationId": "get_genesis_records",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Genesis record list page number to retrieve. 1-indexed.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of genesis records per page to be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedGenesisRecordList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountIdHex": {
        "type": "string",
        "description": "32-byte Substrate account id as lowercase hex, **always** `0x`-prefixed and lowercase in responses.",
        "example": "0x91b171bb158e2d3848fa23a9f1c25182fb8e20313b2c1eb49219da7a70ce90c3",
        "pattern": "^0x[a-f0-9]{64}$"
      },
      "Address20Hex": {
        "type": "string",
        "description": "20-byte address as lowercase hex, **always** `0x`-prefixed and lowercase in responses.",
        "example": "0x00112233445566778899aabbccddeeff00112233",
        "pattern": "^0x[a-f0-9]{40}$"
      },
      "Address32Hex": {
        "type": "string",
        "description": "32-byte address as lowercase hex, **always** `0x`-prefixed and lowercase in responses.",
        "example": "0x91b171bb158e2d3848fa23a9f1c25182fb8e20313b2c1eb49219da7a70ce90c3",
        "pattern": "^0x[a-f0-9]{64}$"
      },
      "Block": {
        "type": "object",
        "description": "A block in the blockchain.",
        "required": [
          "hash",
          "parentHash",
          "stateRoot",
          "extrinsicRoot",
          "number",
          "specVersion",
          "status",
          "extrinsicCount",
          "eventCount"
        ],
        "properties": {
          "author": {
            "$ref": "#/components/schemas/MultiAddress",
            "description": "Authoring validator address."
          },
          "eventCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of events in the block.",
            "example": 56,
            "minimum": 0
          },
          "extrinsicCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of extrinsics in the block.",
            "example": 2,
            "minimum": 0
          },
          "extrinsicRoot": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Merkle root of included extrinsics."
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Block hash (Blake2 256-bit)."
          },
          "number": {
            "type": "integer",
            "format": "int64",
            "description": "Block height.",
            "example": 27419831,
            "minimum": 0
          },
          "parentHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Parent block hash."
          },
          "specVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Runtime spec version.",
            "example": 1006001,
            "minimum": 0
          },
          "stateRoot": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Root hash of the state trie after executing this block."
          },
          "status": {
            "$ref": "#/components/schemas/BlockStatus",
            "description": "Block status."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Block timestamp. Milliseconds.",
            "example": 1755773684012,
            "minimum": 0
          },
          "weight": {
            "type": "object",
            "description": "Block weight in JSON format. Schema depends on runtime metadata.",
            "examples": [
              {
                "mandatory": {
                  "proofSize": "592668",
                  "refTime": "361766342408"
                },
                "normal": {
                  "proofSize": "0",
                  "refTime": "0"
                },
                "operational": {
                  "proofSize": "0",
                  "refTime": "0"
                }
              }
            ]
          }
        },
        "example": {
          "author": {
            "type": "accountId",
            "value": "0x269a84431cd8dfc5762beadfa54a8f21597c12d4f31e51f9f6f985f65ba0c626"
          },
          "eventCount": 56,
          "extrinsicCount": 2,
          "extrinsicRoot": "0x7893dd573a5033a6d785bf4038c237cbd8e1f3730d177d4f9b21c8d2c7b34454",
          "hash": "0xc82fe0d5752d42ae3d325f14206859f86cec7447f244d5b4bccfc2a00bd58df8",
          "number": 27419831,
          "parentHash": "0x1615581259dd1ac45fea1b23406367ca79c9f6dfa3b3b1115517c6e86250c42b",
          "specVersion": 1006001,
          "stateRoot": "0x8c8b0b599733c41bad79a617d8f2f0213a5d965d287cee16c9efd65f23001603",
          "status": "finalized",
          "timestamp": 1755773684012,
          "weight": {
            "mandatory": {
              "proofSize": "204955",
              "refTime": "701777135384"
            },
            "normal": {
              "proofSize": "0",
              "refTime": "0"
            },
            "operational": {
              "proofSize": "0",
              "refTime": "0"
            }
          }
        }
      },
      "BlockStatus": {
        "type": "string",
        "description": "Block status.\n- `finalized`: Blocks that have been finalized on chain.\n- `proposed`: Blocks that have been authored but not yet finalized.\n- `pruned`: Blocks that have been removed or are no longer accessible.",
        "enum": [
          "proposed",
          "pruned",
          "finalized"
        ],
        "example": "finalized"
      },
      "Call": {
        "type": "object",
        "description": "A runtime call.",
        "required": [
          "hash",
          "blockHash",
          "blockNumber",
          "specVersion",
          "blockStatus",
          "extrinsicIndex",
          "extrinsicHash",
          "callPath",
          "callIndex",
          "palletIndex",
          "palletName",
          "palletCallIndex",
          "palletCallName",
          "extrinsicIsSuccessful"
        ],
        "properties": {
          "blockHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the call's block."
          },
          "blockNumber": {
            "type": "integer",
            "format": "int64",
            "description": "Number of the call's block.",
            "example": 3172595,
            "minimum": 0
          },
          "blockStatus": {
            "$ref": "#/components/schemas/BlockStatus",
            "description": "Status of the call's block."
          },
          "blockTimestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the call's block. Milliseconds.",
            "example": 1755773684012,
            "minimum": 0
          },
          "callIndex": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Index of the call, represented as an unsigned integer array.",
            "example": [
              0,
              1,
              0
            ]
          },
          "callPath": {
            "type": "string",
            "description": "Rust-style path of the call represented with parameter names or indices.",
            "example": "root::calls:0"
          },
          "extrinsicHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the call's extrinsic."
          },
          "extrinsicIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the call's extrinsic.",
            "example": 1,
            "minimum": 0
          },
          "extrinsicIsSuccessful": {
            "type": "boolean",
            "description": "Whether the call's extrinsic was successful.\nNote: The extrinsic can be successful where the call has failed (see the `Utility.ForceBatch`` call)."
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Artificial call hash."
          },
          "palletCallIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the call in its pallet.",
            "example": 5,
            "minimum": 0
          },
          "palletCallName": {
            "type": "string",
            "description": "Name of the call.",
            "example": "SetCode"
          },
          "palletIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Pallet index of the call.",
            "example": 14,
            "minimum": 0
          },
          "palletName": {
            "type": "string",
            "description": "Pallet name of the call.",
            "example": "System"
          },
          "parentCallHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the parent call if this call is a nested call (batch, multisig, etc.)."
          },
          "specVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Runtime spec version of the call's block.",
            "example": 2000000,
            "minimum": 0
          }
        },
        "example": {
          "blockHash": "0x758fadeb5004882de8ba39ee2105302ad0ce93ecd68fe26b6fa09de6608e7a77",
          "blockNumber": 3172595,
          "blockStatus": "proposed",
          "blockTimestamp": 1765432302000,
          "callIndex": [
            0
          ],
          "callPath": "root",
          "extrinsicHash": "0x18acc73c8e38351bc5b266cffacf39944945dd66342dab8ce2f86f2c97b3006f",
          "extrinsicIndex": 0,
          "extrinsicIsSuccessful": true,
          "hash": "0xf54535692c6b98bf9198d98ee28af8bc4d0753da6d42912042561dd8d32f4eca",
          "palletCallIndex": 0,
          "palletCallName": "TransferKeepAlive",
          "palletIndex": 1,
          "palletName": "Balances",
          "parentCallHash": "0x9bacc73c8e38351bc5b756cffacf39944945dd66342dab8ce2f86f2c97b3006f",
          "specVersion": 2000000
        }
      },
      "CallArgs": {
        "type": "object",
        "description": "Call arguments wrapper.",
        "required": [
          "hash",
          "args"
        ],
        "properties": {
          "args": {
            "type": "object",
            "description": "Call arguments in JSON format. Schema depends on runtime metadata and the call.",
            "examples": [
              {
                "dest": {
                  "type": "Id",
                  "value": "0xc35b9a45aadc8bb998ba7c4d17bda4d7d8e31f90a754a65709d3a3a71ff8fa7a"
                },
                "value": "117284000000"
              }
            ]
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Call hash."
          }
        },
        "example": {
          "args": {
            "dest": {
              "type": "Id",
              "value": "0xc35b9a45aadc8bb998ba7c4d17bda4d7d8e31f90a754a65709d3a3a71ff8fa7a"
            },
            "value": "117284000000"
          },
          "hash": "0xb778a81c1fd06d98b5ba1b37bb274101f7905ad5eca960f56ededf26248c4011"
        }
      },
      "Error": {
        "type": "object",
        "description": "Generic error type.",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "format": "text",
            "description": "Error message.",
            "example": "Error message."
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "A runtime event.",
        "required": [
          "hash",
          "blockHash",
          "blockNumber",
          "specVersion",
          "blockStatus",
          "palletIndex",
          "palletName",
          "palletEventIndex",
          "palletEventName",
          "phase",
          "index"
        ],
        "properties": {
          "blockHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the event's block."
          },
          "blockNumber": {
            "type": "integer",
            "format": "int64",
            "description": "Number of the event's block.",
            "example": 3172595,
            "minimum": 0
          },
          "blockStatus": {
            "$ref": "#/components/schemas/BlockStatus",
            "description": "Status of the event's block."
          },
          "blockTimestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the event's block. Milliseconds.",
            "example": 1755773684012,
            "minimum": 0
          },
          "extrinsicHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the event's extrinsic, if it was output from an extrinsic."
          },
          "extrinsicIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the event's extrinsic, if it was output from an extrinsic.",
            "example": 3,
            "minimum": 0
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Artificial event hash."
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the event in block.",
            "example": 77,
            "minimum": 0
          },
          "palletEventIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the event in its pallet.",
            "example": 12,
            "minimum": 0
          },
          "palletEventName": {
            "type": "string",
            "description": "Name of the event.",
            "example": "Rewarded"
          },
          "palletIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Pallet index of the event.",
            "example": 14,
            "minimum": 0
          },
          "palletName": {
            "type": "string",
            "description": "Pallet name of the event.",
            "example": "Staking"
          },
          "phase": {
            "type": "string",
            "description": "Event phase.",
            "example": "ApplyExtrinsic"
          },
          "specVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Runtime spec version of the event's block.",
            "example": 2000000,
            "minimum": 0
          },
          "traceIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Index of the event's trace, if traces are enabled.",
            "example": 78,
            "minimum": 0
          }
        },
        "example": {
          "blockHash": "0x5c4de7f2cea658d5d3804d495e8246354f709735d371fd54caaf59e80181bcaa",
          "blockNumber": 10758052,
          "blockStatus": "proposed",
          "blockTimestamp": 1765456362000,
          "extrinsicHash": "0x6963ce866a54258d9d6ca9222060f7270a8f5f6b83eaac88e899bb73fbbb68cb",
          "extrinsicIndex": 0,
          "hash": "0x2c923bb54d06dfb649aaaf1c198eb1af9e19ec52b8e90267984496c128ee7adc",
          "index": 1,
          "palletEventIndex": 0,
          "palletEventName": "ExtrinsicSuccess",
          "palletIndex": 0,
          "palletName": "System",
          "phase": "ApplyExtrinsic",
          "specVersion": 2000003,
          "traceIndex": 78
        }
      },
      "EventArgs": {
        "type": "object",
        "description": "Event arguments wrapper.",
        "required": [
          "hash",
          "args"
        ],
        "properties": {
          "args": {
            "type": "object",
            "description": "Event arguments in JSON format. Schema depends on runtime metadata and the event.",
            "examples": [
              {
                "amount": "171162271",
                "from": "0x96b4be4ad947987922c88449866e738b4f4d09dece5157d2c3ac9477d8c6512e",
                "to": "0x967cccc1ff3d1f37b9e6c8a39d8ba72ad85d35e19cc0717a72f1a21037606144"
              }
            ]
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Event hash."
          }
        },
        "example": {
          "args": {
            "amount": "171162271",
            "from": "0x96b4be4ad947987922c88449866e738b4f4d09dece5157d2c3ac9477d8c6512e",
            "to": "0x967cccc1ff3d1f37b9e6c8a39d8ba72ad85d35e19cc0717a72f1a21037606144"
          },
          "hash": "0x2c923bb54d06dfb649aaaf1c198eb1af9e19ec52b8e90267984496c128ee7adc"
        }
      },
      "Extrinsic": {
        "type": "object",
        "description": "An extrinsic in a block. Signed or unsigned.",
        "required": [
          "blockHash",
          "blockNumber",
          "specVersion",
          "blockStatus",
          "hash",
          "index",
          "version",
          "isSuccessful"
        ],
        "properties": {
          "blockHash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Hash of the extrinsic's block."
          },
          "blockNumber": {
            "type": "integer",
            "format": "int64",
            "description": "Number of the extrinsic's block.",
            "minimum": 0
          },
          "blockStatus": {
            "$ref": "#/components/schemas/BlockStatus",
            "description": "Status of the extrinsic's block."
          },
          "blockTimestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the extrinsic's block. Milliseconds.",
            "minimum": 0
          },
          "extra": {
            "type": "object",
            "description": "Extrinsic extras in JSON format - checkNonce, checkGenesis, chargeTransactionPayment, etc.",
            "examples": [
              {
                "chargeAssetTxPayment": {
                  "assetId": null,
                  "tip": "0"
                },
                "checkGenesis": {},
                "checkMetadataHash": {
                  "mode": {
                    "type": "Disabled",
                    "value": []
                  }
                },
                "checkMortality": {
                  "type": "Mortal84",
                  "value": "0"
                },
                "checkNonZeroSender": {},
                "checkNonce": "8362",
                "checkSpecVersion": {},
                "checkTxVersion": {},
                "checkWeight": {}
              }
            ]
          },
          "hash": {
            "$ref": "#/components/schemas/Hash256Hex",
            "description": "Extrinsic hash."
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "Extrinsic index.",
            "minimum": 0
          },
          "isSuccessful": {
            "type": "boolean",
            "description": "Whether the extrinsic was successful."
          },
          "signature": {
            "$ref": "#/components/schemas/MultiSignature",
            "description": "Extrinsic signature address."
          },
          "signer": {
            "$ref": "#/components/schemas/MultiAddress",
            "description": "Extrinsic signer address."
          },
          "specVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Runtime spec version of the extrinsic's block.",
            "minimum": 0
          },
          "traceIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Trace index for the extrinsic.",
            "minimum": 0
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Extrinsic version in metadata.",
            "minimum": 0
          }
        },
        "example": {
          "blockHash": "0x758fadeb5004882de8ba39ee2105302ad0ce93ecd68fe26b6fa09de6608e7a77",
          "blockNumber": 3172595,
          "blockStatus": "proposed",
          "blockTimestamp": 1765432302000,
          "extra": {
            "chargeAssetTxPayment": {
              "assetId": null,
              "tip": "0"
            },
            "checkGenesis": {},
            "checkMetadataHash": {
              "mode": {
                "type": "Disabled",
                "value": []
              }
            },
            "checkMortality": {
              "type": "Mortal84",
              "value": "0"
            },
            "checkNonZeroSender": {},
            "checkNonce": "8362",
            "checkSpecVersion": {},
            "checkTxVersion": {},
            "checkWeight": {}
          },
          "hash": "0x91b171bb158e2d3848fa23a9f1c25182fb8e20313b2c1eb49219da7a70ce90c3",
          "index": 2,
          "isSuccessful": true,
          "signature": {
            "type": "sr25519",
            "value": "0xabababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab"
          },
          "signer": {
            "type": "accountId",
            "value": "0x269a84431cd8dfc5762beadfa54a8f21597c12d4f31e51f9f6f985f65ba0c626"
          },
          "specVersion": 2000000,
          "traceIndex": 2,
          "version": 4
        }
      },
      "GenesisRecord": {
        "type": "object",
        "description": "A storage item initialized at genesis.",
        "required": [
          "keyPrefix",
          "value"
        ],
        "properties": {
          "keyParams": {
            "$ref": "#/components/schemas/HexString",
            "description": "Storage item key parameter(s) for the genesis record."
          },
          "keyPrefix": {
            "$ref": "#/components/schemas/HexString",
            "description": "Storage item key prefix for the genesis record."
          },
          "knownKey": {
            "type": "string",
            "description": "If the record is a known UTF-8 key, the string representation of the key.",
            "example": ":extrinsic_index"
          },
          "palletIndex": {
            "type": "integer",
            "format": "int32",
            "description": "If the record is a storage item, the storage item's pallet index in the metadata.",
            "example": 0,
            "minimum": 0
          },
          "palletName": {
            "type": "string",
            "description": "If the record is a storage item, the storage item's pallet name in the metadata.",
            "example": "System"
          },
          "palletStorageItemIndex": {
            "type": "integer",
            "format": "int32",
            "description": "If the record is a storage item, the storage item's index in the pallet metadata.",
            "example": 4,
            "minimum": 0
          },
          "palletStorageItemName": {
            "type": "string",
            "description": "If the record is a storage item, the storage item's name.",
            "example": "BlockHash"
          },
          "value": {
            "$ref": "#/components/schemas/HexString",
            "description": "Value of the genesis record."
          }
        },
        "example": {
          "keyParams": "0xb4def25cfda6ef3a00000000",
          "keyPrefix": "0x26aa394eea5630e07c48ae0c9558cef7a44704b568d21667356a5a050c118746",
          "palletIndex": 0,
          "palletName": "System",
          "palletStorageItemIndex": 4,
          "palletStorageItemName": "BlockHash",
          "value": "0x4545454545454545454545454545454545454545454545454545454545454545"
        }
      },
      "Hash256Hex": {
        "type": "string",
        "description": "32-byte Blake2b-256, **always** `0x`-prefixed and lowercase in responses.\nInputs elsewhere may accept mixed case or missing `0x`; the API normalizes outputs.",
        "example": "0x91b171bb158e2d3848fa23a9f1c25182fb8e20313b2c1eb49219da7a70ce90c3",
        "pattern": "^0x[a-f0-9]{64}$"
      },
      "HexString": {
        "type": "string",
        "description": "Arbitrary hex-encoded bytes. Lowercase, even length, `0x`-prefixed.",
        "examples": [
          "0xdeadbeef",
          "0x0123456789abcdef"
        ],
        "pattern": "^0x(?:[0-9a-f]{2})+$"
      },
      "MultiAddress": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/MultiAddressAccountId"
          },
          {
            "$ref": "#/components/schemas/MultiAddressAccountIndex"
          },
          {
            "$ref": "#/components/schemas/MultiAddressRaw"
          },
          {
            "$ref": "#/components/schemas/MultiAddress20"
          },
          {
            "$ref": "#/components/schemas/MultiAddress32"
          }
        ],
        "description": "Discriminated union for the Substrate multi-address type.\nThe `type` tag selects the variant; `value` carries the payload.",
        "example": {
          "type": "accountId",
          "value": "0x008d8404893c7b4b80f397605cc96e61fec3c89676c8c2794a2a7d281d678b1a"
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "accountId": "#/components/schemas/MultiAddressAccountId",
            "address20": "#/components/schemas/MultiAddress20",
            "address32": "#/components/schemas/MultiAddress32",
            "index": "#/components/schemas/MultiAddressIndex",
            "raw": "#/components/schemas/MultiAddressRaw"
          }
        }
      },
      "MultiAddress20": {
        "type": "object",
        "description": "20-byte address.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiAddress20Type",
            "description": "Must be `address20`."
          },
          "value": {
            "$ref": "#/components/schemas/Address20Hex"
          }
        }
      },
      "MultiAddress20Type": {
        "type": "string",
        "description": "Multi-address 20-byte address type.",
        "enum": [
          "address20"
        ]
      },
      "MultiAddress32": {
        "type": "object",
        "description": "32-byte address.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiAddress32Type",
            "description": "Must be `address32`."
          },
          "value": {
            "$ref": "#/components/schemas/Address32Hex"
          }
        }
      },
      "MultiAddress32Type": {
        "type": "string",
        "description": "Multi-address 32-byte address type.",
        "enum": [
          "address32"
        ]
      },
      "MultiAddressAccountId": {
        "type": "object",
        "description": "32-byte account id.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiAddressAccountIdType",
            "description": "Must be `accountId`."
          },
          "value": {
            "$ref": "#/components/schemas/AccountIdHex",
            "description": "Account id as 32-byte hex."
          }
        }
      },
      "MultiAddressAccountIdType": {
        "type": "string",
        "description": "Multi-address 32-byte account id type.",
        "enum": [
          "accountId"
        ]
      },
      "MultiAddressAccountIndex": {
        "type": "object",
        "description": "Account index.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiAddressIndexType",
            "description": "Must be `index`."
          },
          "value": {
            "type": "integer",
            "format": "int32",
            "description": "Account index value.",
            "example": 83,
            "minimum": 0
          }
        }
      },
      "MultiAddressIndexType": {
        "type": "string",
        "description": "Multi-address account index type.",
        "enum": [
          "index"
        ]
      },
      "MultiAddressRaw": {
        "type": "object",
        "description": "Raw account address.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiAddressRawType",
            "description": "Must be `raw`."
          },
          "value": {
            "$ref": "#/components/schemas/HexString"
          }
        }
      },
      "MultiAddressRawType": {
        "type": "string",
        "description": "Multi-address raw account address type.",
        "enum": [
          "raw"
        ]
      },
      "MultiSignature": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/MultiSignatureECDSA"
          },
          {
            "$ref": "#/components/schemas/MultiSignatureEd25519"
          },
          {
            "$ref": "#/components/schemas/MultiSignatureSr25519"
          }
        ],
        "description": "Discriminated union for the Substrate multi-signature type.\nThe `type` tag selects the variant; `value` carries the payload.",
        "example": {
          "type": "sr25519",
          "value": "0xabababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab"
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "ecdsa": "#/components/schemas/MultiSignatureECDSA",
            "ed25519": "#/components/schemas/MultiSignatureEd25519",
            "sr25519": "#/components/schemas/MultiSignatureSr25519"
          }
        }
      },
      "MultiSignatureECDSA": {
        "type": "object",
        "description": "ECDSA signature.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiSignatureECDSAType",
            "description": "Must be `ecdsa`."
          },
          "value": {
            "$ref": "#/components/schemas/SignatureHexString",
            "description": "ECDSA signature hex."
          }
        }
      },
      "MultiSignatureECDSAType": {
        "type": "string",
        "description": "Multi-signature ECDSA type.",
        "enum": [
          "ecdsa"
        ]
      },
      "MultiSignatureEd25519": {
        "type": "object",
        "description": "Ed25519 signature.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiSignatureEd25519Type",
            "description": "Must be `ed25519`."
          },
          "value": {
            "$ref": "#/components/schemas/SignatureHexString",
            "description": "Ed25519 signature hex."
          }
        }
      },
      "MultiSignatureEd25519Type": {
        "type": "string",
        "description": "Multi-signature Ed25519 type.",
        "enum": [
          "ed25519"
        ]
      },
      "MultiSignatureSr25519": {
        "type": "object",
        "description": "Sr25519 signature.",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MultiSignatureSr25519Type",
            "description": "Must be `sr25519`."
          },
          "value": {
            "$ref": "#/components/schemas/SignatureHexString",
            "description": "Sr25519 signature hex."
          }
        }
      },
      "MultiSignatureSr25519Type": {
        "type": "string",
        "description": "Multi-signature Sr25519 type.",
        "enum": [
          "sr25519"
        ]
      },
      "PaginationData": {
        "type": "object",
        "description": "Pagination data for paged responses.",
        "required": [
          "page",
          "pageSize",
          "total"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number. 1-indexed.",
            "example": 1,
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page.",
            "example": 1,
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of items across all pages.",
            "example": 10467367,
            "minimum": 0
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "total": 4352561
        }
      },
      "SignatureHexString": {
        "type": "string",
        "description": "and ECDSA (65 bytes → 130 hex chars). **Always** `0x`-prefixed and lowercase in responses.\nInputs elsewhere may accept mixed case or missing `0x`; the API normalizes outputs.",
        "examples": [
          "0xabababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab",
          "0xababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab"
        ],
        "pattern": "^0x([0-9a-f]{128}|[0-9a-f]{130})$"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid path or query parameter(s).",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BlockList": {
        "description": "List of matching blocks.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Block"
              }
            }
          }
        }
      },
      "EventList": {
        "description": "List of matching events.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        }
      },
      "ExtrinsicList": {
        "description": "List of matching extrinsics.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Extrinsic"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "headers": {
[...]
